header {
	display: flex;
	flex-direction: row;

	background-color: transparent;

	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	padding: 0;

	background-color: rgba(0, 0, 0, 0.8);

	z-index: 999;
}

header>.container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header>.container a svg {
	font-size: 24px;
	font-weight: bold;
	color: #00BBA8;
}

header>.container a {
	display: flex;
	align-items: center;
	justify-content: center;

	color: #fff;
	font-size: 16px;
	padding: 10px;

	transition: 0.35s all;
}

header>.container a:hover {
	color: #00BBA8;
}

header>.container .logo {
	font-weight: bold;
	font-size: 28px !important;
	/* font-family: 'Catamaran', sans-serif; */
	/* font-family: 'Concert One', cursive; */
	/* font-family: 'Amaranth', sans-serif; */
	font-family: 'Alegreya Sans SC', sans-serif;
}


.header_left,
.header_right {
	display: flex;
	align-items: center;
}

.header_left {
	justify-content: flex-start;
}

.header_right {
	justify-content: flex-end;
}