.hystmodal {
	display: flex;

	position: fixed;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	bottom: 0;
	top: 0;

	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex-flow: column nowrap;

	justify-content: center;
	/* см. ниже */
	align-items: center;

	z-index: 99;
	padding: 30px 0;

	transition: 0.35s ease-in;

}

.hystmodal__window>button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	padding: 15px;

	background: none;
	outline: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.hystmodal__window {
	padding: 20px;
	background: #fff;
	width: 600px;
	max-width: 100%;

	margin: auto;

	transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
	transform: scale(1);

	transition: 0.35s ease-in;

	border-radius: 3px;
}

.hystmodal__window form {
	display: flex;
	flex-direction: column;

	align-content: center;
	align-items: center;
}

.hystmodal__window .form-control {
	display: flex;
	flex-direction: column;
}

.hystmodal__window .form-control input {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.hystmodal__window .form-control button {
	border-radius: 3px;
}