.form {
	display: flex;
	flex-direction: column;
}

.form-control {
	display: flex;
	flex-direction: row;

	min-width: 70%;

	padding: 15px;
	margin-top: 15px;
}

.form-control input,
.form-control textarea,
.form-control select {
	display: flex;


	font-weight: bold;

	border: none;
	border-radius: 6px 0 0 6px;
	padding: 13px;
	flex: 2;

	outline-color: #00BBA8;
}

.form-control textarea {
	font-size: 16px;
	resize: none;
}

.form-control button {
	display: flex;

	background: #00BBA8;
	border: none;
	outline: none;

	justify-content: center;
	align-items: center;

	color: #fff;

	font-weight: bold;

	cursor: pointer;

	border-radius: 0 6px 6px 0;
	padding: 13px;
	flex: 1;

	transition: 0.5s all;
}

.form-control button:hover {
	background: #02dcc6;
}

.form-control button svg {
	font-size: 24px;
	font-weight: bold;
}

form h1 {
	padding: 5%;
}

.form-classic input,
.form-classic textarea,
.form-classic select {
	border: 1px solid #ccc;
	border-radius: 3px;
	flex: 1;
}

.form-classic button {
	border-radius: 3px;
}