.content {
	margin-top: 80px;
	transition: 0.35s all;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: 0.35s all;
	min-height: 100vh;
}

.container {
	display: flex;

	width: 70%;
	margin: auto;

	transition: 0.35s all;
}

.section {
	display: flex;
	width: 100%;
	min-height: 100vh;

	transition: 0.35s all;
}

.gradient {
	background: linear-gradient(130deg, #363974, #4348a2, #2B2948, #191734);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	color: #fff;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.container {
		width: 95%;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 90%;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 70%;
	}
}