* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
p,
span {
	text-align: center;
}

a {
	text-decoration: none;
}

svg {
	margin: 0 3px;
}

::selection {
	background-color: #00BBA8;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}